<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuartzService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings><add name="QuartzEntities1" connectionString="metadata=res://*/JobModel.csdl|res://*/JobModel.ssdl|res://*/JobModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILLERL-CD\SQLEXPRESS;initial catalog=Quartz;persist security info=True;user id=QuartzService;password=QuartzService;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QuartzEntities" connectionString="metadata=res://*/JobRecordModel.csdl|res://*/JobRecordModel.ssdl|res://*/JobRecordModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILLERL-CD\SQLEXPRESS;initial catalog=Quartz;persist security info=True;user id=QuartzService;password=QuartzService;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <applicationSettings>
    <QuartzService.Properties.Settings>
      <setting name="FlagsDirectory" serializeAs="String">
        <value>C:\Quartz\Flags\</value>
      </setting>
      <setting name="IncomingDirectory" serializeAs="String">
        <value>C:\Quartz\Incoming</value>
      </setting>
      <setting name="JobsDirectory" serializeAs="String">
        <value>C:\Quartz\JobsDirectory\</value>
      </setting>
      <setting name="JobsFile" serializeAs="String">
        <value>C:\Quartz\JobsFile\Jobs.json</value>
      </setting>
    </QuartzService.Properties.Settings>
  </applicationSettings>
</configuration>